- if locations
	.wb_main_col
		.wb_col.wb_col_big.wb_col_tl.wb_col_h6
			.border
			.wb_blk
				.wb_blk_box.wb_blk_box_tl.wb_full_h
			.pic_block
				.pic{style: "background-image: url(#{image_url locations.first.try(:picture)})"}
	.wb_main_col.z_bigger
		.wb_col.wb_col_big.wb_col_tl.wb_col_h2
			.border
			.wb_blk
				.wb_blk_box.wb_blk_box_bl.wb_full_h
			.pic_block
				.pic{style: "background-image: url(#{image_url locations.second.try(:picture)})"}
		.wb_col.wb_col_big.wb_col_bl.wb_col_h4
			.border
			.wb_blk
				.wb_blk_box.wb_blk_box_tl.wb_full_h
			.pic_block
				.pic{style: "background-image: url(#{image_url locations.third.try(:picture)})"}
	.wb_main_col
		.wb_col.wb_col_big.wb_col_tl.wb_col_h4
			.border
			.wb_blk
				.wb_blk_box.wb_blk_box_tl.wb_full_h
			.pic_block
				.pic{style: "background-image: url(#{image_url locations.fourth.try(:picture)})"}
		.wb_col.wb_col_big.wb_col_bl.wb_col_h2
			.border
			.wb_blk
				.wb_blk_box.wb_blk_box_bl.wb_full_h
			.pic_block
				.pic{style: "background-image: url(#{image_url locations.fifth.try(:picture)})"}